
 

 

ul {
  padding-inline-start: 15px;
  font-size: 10px;
  padding-top: ;

  
}
h1 {
  font-size: 15px;
  }
h2,h3 { 
  margin-block-start: 0;
  margin-block-end: 0;
   font-size: 11px;
   ;
}


.card-1 { 
 color: rgb(255, 255, 255);

text-shadow: 1px 1px #222;
    background-image: url(imagebackround.jpg);
    background-size: cover; 
   background-position: center; 
    background-repeat: no-repeat; 
    height: 

}